.DS_Store
*.ipynb_checkpoints/
assignments/assignment1/data/
assignments/assignment2/data/
assignments/assignment3/data/
*.pyc
assignments/assignment4/test*
assignments/assignment4/train*
assignments/assignment5/__MACOSX/
assignments/assignment5/stanfordSentimentTreebank/

